@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #2c2c2c;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  scroll-behavior: smooth;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 26, 32, 0.95);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  overflow: hidden;
}

.loading div.spinner {
  width: 50px;
  height: 40px;
  display: inline-block;
}

.loading div.spinner div {
  width: 3px;
  height: 10px;
  background: white;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  -webkit-animation: fade 1s linear infinite;
          animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.loading div.spinner div.bar1 {
  -webkit-transform: rotate(0deg) translate(0, -130%);
          transform: rotate(0deg) translate(0, -130%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading div.spinner div.bar2 {
  -webkit-transform: rotate(30deg) translate(0, -130%);
          transform: rotate(30deg) translate(0, -130%);
  -webkit-animation-delay: -0.9167s;
          animation-delay: -0.9167s;
}

.loading div.spinner div.bar3 {
  -webkit-transform: rotate(60deg) translate(0, -130%);
          transform: rotate(60deg) translate(0, -130%);
  -webkit-animation-delay: -0.833s;
          animation-delay: -0.833s;
}

.loading div.spinner div.bar4 {
  -webkit-transform: rotate(90deg) translate(0, -130%);
          transform: rotate(90deg) translate(0, -130%);
  -webkit-animation-delay: -0.7497s;
          animation-delay: -0.7497s;
}

.loading div.spinner div.bar5 {
  -webkit-transform: rotate(120deg) translate(0, -130%);
          transform: rotate(120deg) translate(0, -130%);
  -webkit-animation-delay: -0.667s;
          animation-delay: -0.667s;
}

.loading div.spinner div.bar6 {
  -webkit-transform: rotate(150deg) translate(0, -130%);
          transform: rotate(150deg) translate(0, -130%);
  -webkit-animation-delay: -0.5837s;
          animation-delay: -0.5837s;
}

.loading div.spinner div.bar7 {
  -webkit-transform: rotate(180deg) translate(0, -130%);
          transform: rotate(180deg) translate(0, -130%);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loading div.spinner div.bar8 {
  -webkit-transform: rotate(210deg) translate(0, -130%);
          transform: rotate(210deg) translate(0, -130%);
  -webkit-animation-delay: -0.4167s;
          animation-delay: -0.4167s;
}

.loading div.spinner div.bar9 {
  -webkit-transform: rotate(240deg) translate(0, -130%);
          transform: rotate(240deg) translate(0, -130%);
  -webkit-animation-delay: -0.333s;
          animation-delay: -0.333s;
}

.loading div.spinner div.bar10 {
  -webkit-transform: rotate(270deg) translate(0, -130%);
          transform: rotate(270deg) translate(0, -130%);
  -webkit-animation-delay: -0.2497s;
          animation-delay: -0.2497s;
}

.loading div.spinner div.bar11 {
  -webkit-transform: rotate(300deg) translate(0, -130%);
          transform: rotate(300deg) translate(0, -130%);
  -webkit-animation-delay: -0.167s;
          animation-delay: -0.167s;
}

.loading div.spinner div.bar12 {
  -webkit-transform: rotate(330deg) translate(0, -130%);
          transform: rotate(330deg) translate(0, -130%);
  -webkit-animation-delay: -0.0833s;
          animation-delay: -0.0833s;
}

.container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.container .contain {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container .contain {
    border: 1px solid #3f3f3f;
    border-radius: 20px;
    padding-bottom: 1em;
  }
}

.container .contain .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  text-transform: capitalize;
}

.container .contain .heading h4 {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.container .contain .heading .message_icon {
  padding: 10px;
  border-radius: 7px;
}

.container .contain .profile_contain {
  position: relative;
  height: 7em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 0 10px;
}

.container .contain .profile_contain .profile_icon {
  padding: 0.5em;
  width: 50px;
  height: 60px;
  background-color: #3f3f3f;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .contain .profile_contain .profile_icon img {
  width: 45px;
  height: 60px;
}

.container .contain .profile_contain .profile_information {
  font-size: 16px;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.container .contain .profile_contain .profile_information span {
  word-break: break-all;
}

.container .contain .profile_contain .profile_information .email,
.container .contain .profile_contain .profile_information .number {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.4);
}

.container .contain .user_counts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 10px 1.5em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.container .contain .user_counts .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.container .contain .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.container .contain .settings .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  background-color: #39303d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.container .contain .settings .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em;
}

.container .contain .settings .row .col .rotate_icon {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.container .contain .settings .row .col_data {
  height: 100vh;
  position: fixed;
  top: 9em;
  bottom: -500em;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  max-width: 45em;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  padding-top: 1em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #2b2b2bc4;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 1em;
  border-radius: 10px 10px 0 0;
}

.container .contain .settings .row .col_data span {
  margin-bottom: 0.6em;
}

.container .contain .settings .row .col_data span svg {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .contain .settings .row .col_data .profile_picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

.container .contain .settings .row .col_data .profile_picture img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.container .contain .settings .row .col_data input, .container .contain .settings .row .col_data button {
  width: 100%;
  padding: 0.5em;
  border: 1px solid rgba(196, 196, 196, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  border-radius: 5px;
}

.container .contain .settings .row .col_data button {
  background-color: #7c429788;
}

.menu_tabs {
  height: 3.7rem;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: 46rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  background: rgba(68, 68, 68, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.menu_tabs .tabs {
  padding: 0.4rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_tabs .tabs span {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}
/*# sourceMappingURL=style.css.map */