@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #161b22;
  font-family: "Poppins", sans-serif;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  background-color: #161b22;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  overflow: hidden;
}

.loading div.spinner {
  width: 50px;
  height: 40px;
  display: inline-block;
}

.loading div.spinner div {
  width: 3px;
  height: 10px;
  background: white;
  position: absolute;
  left: 49%;
  top: 43%;
  opacity: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
  -webkit-animation: fade 1s linear infinite;
          animation: fade 1s linear infinite;
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.25;
  }
}

.loading div.spinner div.bar1 {
  -webkit-transform: rotate(0deg) translate(0, -130%);
          transform: rotate(0deg) translate(0, -130%);
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.loading div.spinner div.bar2 {
  -webkit-transform: rotate(30deg) translate(0, -130%);
          transform: rotate(30deg) translate(0, -130%);
  -webkit-animation-delay: -0.9167s;
          animation-delay: -0.9167s;
}

.loading div.spinner div.bar3 {
  -webkit-transform: rotate(60deg) translate(0, -130%);
          transform: rotate(60deg) translate(0, -130%);
  -webkit-animation-delay: -0.833s;
          animation-delay: -0.833s;
}

.loading div.spinner div.bar4 {
  -webkit-transform: rotate(90deg) translate(0, -130%);
          transform: rotate(90deg) translate(0, -130%);
  -webkit-animation-delay: -0.7497s;
          animation-delay: -0.7497s;
}

.loading div.spinner div.bar5 {
  -webkit-transform: rotate(120deg) translate(0, -130%);
          transform: rotate(120deg) translate(0, -130%);
  -webkit-animation-delay: -0.667s;
          animation-delay: -0.667s;
}

.loading div.spinner div.bar6 {
  -webkit-transform: rotate(150deg) translate(0, -130%);
          transform: rotate(150deg) translate(0, -130%);
  -webkit-animation-delay: -0.5837s;
          animation-delay: -0.5837s;
}

.loading div.spinner div.bar7 {
  -webkit-transform: rotate(180deg) translate(0, -130%);
          transform: rotate(180deg) translate(0, -130%);
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.loading div.spinner div.bar8 {
  -webkit-transform: rotate(210deg) translate(0, -130%);
          transform: rotate(210deg) translate(0, -130%);
  -webkit-animation-delay: -0.4167s;
          animation-delay: -0.4167s;
}

.loading div.spinner div.bar9 {
  -webkit-transform: rotate(240deg) translate(0, -130%);
          transform: rotate(240deg) translate(0, -130%);
  -webkit-animation-delay: -0.333s;
          animation-delay: -0.333s;
}

.loading div.spinner div.bar10 {
  -webkit-transform: rotate(270deg) translate(0, -130%);
          transform: rotate(270deg) translate(0, -130%);
  -webkit-animation-delay: -0.2497s;
          animation-delay: -0.2497s;
}

.loading div.spinner div.bar11 {
  -webkit-transform: rotate(300deg) translate(0, -130%);
          transform: rotate(300deg) translate(0, -130%);
  -webkit-animation-delay: -0.167s;
          animation-delay: -0.167s;
}

.loading div.spinner div.bar12 {
  -webkit-transform: rotate(330deg) translate(0, -130%);
          transform: rotate(330deg) translate(0, -130%);
  -webkit-animation-delay: -0.0833s;
          animation-delay: -0.0833s;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.container .contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  max-width: 45em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

@media (min-width: 768px) {
  .container .contain {
    border: 1px solid #3f3f3f;
    border-radius: 20px;
  }
}

.container .contain .heading {
  width: 90%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
}

.container .contain .heading h4 {
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
}

.container .contain .data_contain {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.container .contain .data_contain .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  margin: 10px 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.container .contain .data_contain .row label span {
  font-size: 13px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
}

.container .contain .data_contain .row input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  -webkit-filter: invert(100%) brightness(70%);
          filter: invert(100%) brightness(70%);
  width: 20px;
  height: 20px;
  border-width: thin;
}

.container .contain .data_contain .row input,.container .contain .data_contain .row select{
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  outline: none;
  background-color: #21262d;
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
}

.container .contain .data_contain .row input:focus {
  border: 3px solid #301B3F;
}

.container .contain .data_contain .row button {
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background-color: #301B3F;
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.container .contain .data_contain .row button svg {
  width: 20;
}

.menu_tabs {
  height: 3.7rem;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: 46rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  background: #161b22;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.menu_tabs .tabs {
  padding: 0.4rem;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_tabs .tabs span {
  font-size: 13px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */